<ion-header-bar class="bar-assertive">
  <a class="button button-clear" href="#/consult/dynamic">返回</a>
  <h1 class="title">咨询详情</h1>
</ion-header-bar>
<ion-view> <ion-content has-header="true"
	style="background: #F6F8FA">
<div class="ui-loading-wrap" ng-show="!show">
	<p>加载中</p>
	<i class="ui-loading"></i>
</div>
<div ng-show="show">
	<div class="col">
		<div class="row  text-center">
			<div class="col h4">{{consultDetail.paramMap.title}}</div>
		</div>
		<div class="row">
			<div class="col  pt10 pb10 ui-txt-info"  ng-bind-html="consultDetail.paramMap.content"></div>
		</div>
		<div class="row">
			<div class="col-66 text-left ui-txt-info">发布时间：{{consultDetail.paramMap.publishTime}}</div>
			<div class="col-33 text-right ui-txt-info">浏览次数：{{consultDetail.paramMap.visits}}</div>
		</div>
		<div class="row">
			<a href="#/consult-detail/{{consultDetail.aftermap.id}}" ng-show="consultDetail.aftermap"  class="col text-left  p0 mt10">上一篇</a>
			<a href="#/consult-detail/{{consultDetail.premap.id}}" ng-show="consultDetail.premap" class="col text-right p0 mt10">下一篇</a>
		</div>
	</div>
</div>
</ion-content> </ion-view>
