<ion-view title="联系我们" >
  <ion-content   has-header="true"   padding = "true"> 
    <ion-list>
      <div class="item">
        客服电话:<a href="tel:400-106-0000">400-106-0000</a>
      </div>       
      <div class="item">
        服务时间:<a class="telephone">8:30-18:00</a>
      </div>   
      <div class="item">
        QQ交流群:<a class="telephone">206147959</a>
      </div>   
      <div class="item">
        新浪微博:<a href="http://weibo.com/u/5251411790"  target="_blank">http://weibo.com/u/5251411790</a>
      </div>   
      <div class="item">
        腾讯微博:<a href="http://t.qq.com/sanhaodai?preview&fromweikongjian"  target="_blank">http://t.qq.com/sanhaodai?preview&fromweikongjian</a>
      </div>   
      <div class="item">
        官方网站:<a href="http://www.sanhaodai.com"  target="_blank">http://www.sanhaodai.com</a>
      </div>            
      <div class="item">
        官方微信号:<a class="telephone">sanhaodai</a>
      </div>                                                                                  
    <ion-list>
  </ion-content>
</ion-view>
