<ion-view title="免责声明" hide-back-button="false">
  <ion-content  has-header="true" padding="true">
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;三好贷提醒您：在使用三好贷前，请您务必仔细阅读并透彻理解本声明。您可以主动取消或停止使用三好贷提供的服务，但如果您使用三好贷服务，您的使用行为将被视为对本声明全部内容的认可。</br>
三好贷负责按“现状”和“可得到”的状态向您提供三好贷服务。但三好贷对其服务不作任何明示或暗示的保证，包括但不限于三好贷服务的适用性、持续性、准确性、正确性、可靠性及适用于某一特定用途。同时，三好贷也不对其服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、质量、稳定、完整和及时性作出任何承诺和保证，也不担保其提供的网络服务不会中断，对其提供的网络服务的及时性、安全性、准确性也都不做担保。</br>
您了解并理解，任何经由本服务发布的图形、图片或个人言论等，均表示了内容提供者、服务使用者个人的观点、观念和思想，并不代表三好贷的观点或主张，对于在享受网络服务的过程中可能会接触到令人不快、不适当等内容的，由您个人自行加以判断并承担所有风险，三好贷不承担任何责任。</br>
三好贷不保证为了向您提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由三好贷实际控制的任何网页上的内容，三好贷不承担任何责任。</br>三好贷不为使用的任何第三方软件的准确性、安全性、功能或性能作任何声明或保证。</br>
请您及时保存或备份您的投资信息、文字、图片等其他信息，您完全理解并同意，由于三好贷储存设备有限、设备故障、设备更新或设备受到攻击等设备原因或人为原因，您使用网路服务储存的信息或数据等全部或部分发生删除、毁损、灭失或无法恢复的风险，均由您须自行承担，三好贷不承担任何责任。</br>
不论在何种情况下，三好贷均不对由于信息网络正常的设备维护，信息网络连接故障，电脑、通讯或其他系统的故障，黑客，电脑病毒，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，洪水，风暴，爆炸，战争，政府行为，司法行政机关的命令，第三方原因等其他三好贷不能预测或控制的行为而造成的不能服务或延迟服务承担责任，但将尽力减少因此而给您造成的损失和影响。</br>
任何单位或个人认为通过三好贷的内容可能涉嫌侵犯其合法权益，应该及时向三好贷或服务网站书面反馈，并提供身份证明、权属证明及详细侵权情况证明，三好贷在收到上述法律文件后，将会尽快移除被控侵权内容。详见权利声明。</br>
三好贷并不就以下事项作出声明或保证：使用三好贷时不会中断、出现延误、故 障、错误或遗漏或丢失传送的资料；或不会传播病毒或其他污染或毁灭性的产物；或您的电脑系统不会受损害。您须负全责为数据或设备作充分保护和备份，并 负全责采取合理而适当的预防措施以扫描电脑病毒或其他毁灭性产物。三好贷在编制三好贷所载信息和资料时已力求审慎。但三好贷只能按目前现状提供有关信息，并不作任何明示或暗示的保证。尤其是不作不侵犯版权、资料保密、准确性、合适性或不含计算机病毒等担保。</br> 
本声明适用中华人民共和国法律，您和三好贷一致同意服从深圳市福田区人民法院管辖。如其中任何条款与中华人民共和国法律相抵触时，则这些条款将完全按法律规定重新解释，而其它条款依旧具有法律效力。我们保留随时更改上述免责声明的权利。</p>
  </ion-content>
</ion-view>  