<ion-view title="三好贷使用帮助" hide-back-button="false">
  <ion-content  has-header="true" >
    <div class="card">
      <div class="item item-divider">
        Q:三好贷手机服务收费吗？
      </div>
      <div class="item item-text-wrap">
        A：三好贷手机端提供的服务是不收取用户任何费用的，但是成功投资后，会收取一定的管理费用。手机由于访问网络产生的流量费用由运营商收取。不同地区的流量资费会有差异，具体请向当地运营商咨询。
      </div>
      <div class="item item-divider">
        Q:三好贷手机版和网页版本有什么区别？
      </div>
      <div class="item item-text-wrap">
        A：三好贷手机版涵盖网页版所有核心功能，你可以随时随地查看和网页版相同的实时平台投资信息和、借款信息、账户信息，并参与投资，获取收益。
      </div>     
    </div>
  </ion-content>
</ion-view>  