<ion-view title="权力声明" hide-back-button="false">
  <ion-content  has-header="true" padding="true">
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;三好贷尊重他人知识产权和合法权益，呼吁用户也要同样尊重知识产权和他人合法权益。若您认为您的知识产权或其他合法权益被侵犯，可以向三好贷发出权利声明。为有效处理您的投诉，请按照以下说明向三好贷提供资料:</br>
1）权利人对涉嫌侵权内容拥有知识产权或其他合法权益和依法可以行使知识产权或其他合法权益的权属证明；</br>
2）请充分、明确地描述被侵犯知识产权或其他合法权益的情况；</br>
3）请详细指明涉嫌侵权的哪些内容侵犯了第二条中列明的权利；</br>
4）请提供权利人具体的联络信息，包括姓名、身份证或护照复印件（对自然人）、单位登记证明复印件（对单位）、通信地址、联系人、电话号码、传真和电子邮件；</br>
5）请提供涉嫌侵权内容在网络服务上的位置（如指明您举报的含有侵权内容的出处，即：指网页地址及网页内的位置）以便我们与您举报的含有侵权内容的网页的所有权人或管理人联系；</br>
6）请在权利声明中加入如下关于通知内容真实性的声明：“我保证，本通知中所述信息是充分、真实、准确的，如果本权利声明内容不完全属实，本人将承担由此产生的一切法律责任”。</br>
您可以通过如下联络方式同三好贷联系：</br>
深圳市福田区滨河路5022号联合广场A座3楼</br>
深圳市易付通金融信息技术有限公司 法务部</br>
邮政编码：518000</br>
一旦收到符合上述要求之通知，三好贷将采取相应措施（包括删除）；如不符合上述条件，三好贷会请您提供相应信息，且暂不采取措施。\n
三好贷提请您注意：如果您的权利声明的陈述失实，您将承担对由此造成的全部法律责任（包括但不限于赔偿各种费用及律师费）。如果您不确定网络上可获取的资料是否侵犯了您的知识产权和其他合法权益，三好贷建议您首先咨询专业人士。</p>
  </ion-content>
</ion-view>  