<ion-view title="知识产权声明" hide-back-button="false">
  <ion-content  has-header="true" padding="true">
	    <p>&nbsp;&nbsp;&nbsp;&nbsp;除明显归属于合作伙伴、第三方所有的信息资料外，三好贷拥有三好贷网站及其关联公司网站、三好贷移动终端内所有内容，包括但不限于文字、图片、图形、表格、动画、程序、软件等单独或组合的版权。任何被授权的浏览、复制、打印和传播属于本网站内的内容必须符合以下条件：</br>
1）所有的资料和图象均以获得信息为目的；</br>
2）所有的资料和图象均不得用于商业目的；</br>
3）所有的资料、图象及其任何部分都必须包括此声明。</br>
三好贷所有的产品、技术与所有程序均属于三好贷的知识产权。“三好贷”、“sanhaodai”、“sanhaodai.com”以及相关图形、标识等为三好贷的注册商标。
未经三好贷许可，任何人不得擅自使用三好贷的任何知识产权，包括但不限于以非法的方式复制、传播、展示、镜像、上载、下载，或对三好贷网站资料作全部和局部复制、转载、引用和链接等。否则，三好贷将依法追究法律责任。
问题，实现合作共赢。</p>
  </ion-content>
</ion-view>  